[user]
	name = Guilherme Ceolin
	email = guiceolin@gmail.com
[color]
	ui = auto
[color "status"]
	branch = green bold
[color "branch"]
        current = yellow black
[core]
	pager = less -R
        excludesfile = ~/.gitignore
[push]
       default = tracking

[diff "odf"]
        textconv = odt2txt

[alias]
	st = status
	co = checkout
	ci = commit

[github]
	user = guiceolin
